<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <%- include('../views/navbar/navbar.ejs') %>
        <form method="GET">
            <div class="form-inline my-2 my-lg-0">
                <select id="adminFilter" name="isAdmin" class="ml-3 mr-3 form-control ">
                    <option value="">All Users</option>
                    <option value="true">Admin Users</option>
                    <option value="false">Non-Admin Users</option>
                </select>
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>

        <table class="table mt-3">
            <tbody>
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                        <th scope="col">Year of birth</th>
                        <th scope="col">Is Admin</th>
                    </tr>
                </thead>
                <% user.forEach(function(user){%>
        
                    <tr>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.yob %>
                        </td>
                        <td>
                            <%=JSON.stringify(user.isAdmin)===JSON.stringify(true)? 'Yes' : 'No' %>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
        <div class="mt-3 d-flex justify-content-center">
            <nav aria-label="Players Pagination mt-3">
                <ul class="pagination">
                    <% if (currentPage> 1) { %>
                        <li class="page-item">
                            <a class="page-link"
                                href="?page=<%= currentPage - 1 %>"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <% } %>
                            <% for (let i=1; i <=pages; i++) { %>
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link"
                                        href="?page=<%= i %>">
                                        <%= i %>
                                    </a>
                                </li>
                                <% } %>
                                    <% if (currentPage < pages) { %>
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="?page=<%= currentPage + 1 %>"
                                                aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                        <% } %>
                </ul>
            </nav>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>