<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%=title%>
    </title>
</head>
<body>
    <div class="container">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create new Player</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="box">
                            <div class="field">
                                <label for="name">Name</label>
                                <div class="control">
                                    <input class="input form-control" type="text" name="name" placeholder="Text input" required>
                                </div>
                            </div>
                            <div class="field mt-3">
                                <label for="iamge">Image</label>
                                <div class="control">
                                    <input class="input form-control" type="text" name="image" placeholder="Text URL" required>
                                </div>
                            </div>
                            <div class="field mt-3">
                                <label for="goal">Goal</label>
                                <div class="control">
                                    <input class="input form-control" type="number" name="goal" placeholder="Number input" required>
                                </div>
                            </div>
                            <div class="field mt-3">
                                <label class="label">Club</label>
                                <div class="field">
                                    <div class=" select">
                                        <select name="club" class="form-control">
                                            <% for(let club of clubList){%>
                                                <option value="<%= club.name%>">
                                                    <%= club.name%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field mt-3">
                                <label class="label">Position</label>
                                <div class="field">
                                    <div class=" select">
                                        <select name="loca" class="form-control">
                                            <% for(let loca of locaList){%>
                                                <option value="<%= loca.name%>">
                                                    <%= loca.name%>
                                                </option>
                                                <%}%>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field mt-3">
                                <label class="label">Is Caption</label>
                                <div class="field">
                                    <div class=" select">
                                        <select name="isCaptain" class="form-control">
                                            <% for(let captain of isCaptainList){ %>
                                                <option value="<%=captain.name%>">
                                                    <%= captain.name%>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field mt-3">
                                <div class="control">
                                    <button class="btn btn-secondary" type="submit">Create</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/nations">Nations</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Create
                    </button>
                </div>
                <div class="d-flex" id="navbarSupportedContent">
                    <form class="d-flex justify-content-end role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="ml-1 btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <button class="ml-3 btn btn-danger" type="submit"><a href="/auth/logout">logout</a></button>
                </div>
            </div>
        </nav> -->
        <%- include('../views/navbar/navbar.ejs') %>
        <div class=" row row-cols-4 g-4">
            <% players.forEach(function(player) { %>
                <div class="col-sm-4">
                    <div class="card item mt-3">
                        <img class="card-img-top" src="<%= player.image %>" alt="Player Image">
                        <div class="card-body">
                            <h4 class="card-title playername">
                                <%= player.name %>
                            </h4>
                            <p class="card-text">
                                Club: <%= player.club %>
                            </p>
                            <p class="card-text">
                                Goals: <%= player.goal %>
                            </p>
                            <p class="card-text">
                                Position: <%= player.loca %>    
                            </p>
                            <p class="card-text">
                                <%= player.isCaptain%>
                            </p>
                        </div>
                        <% if(checkAdmin) {%>
                        <div class="card-footer">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/edit/<%= player._id %>">Edit</a>
                                    <a class="dropdown-item" href="/delete/<%= player._id %>"
                                        onclick="return confirm('Are you sure you want to delete this player?')">Delete</a>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
                <% }) %>
        </div>        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>